:root {
  --cursorX: 50%;
  --cursorY: 50%;
  --bg-contact: url(/images/portfolio_background_Profile.jpg);
}

:root:has(#blue:checked) {
  --bg-contact: url(/images/portfolio_background_Contact_blue.jpg);
}
:root:has(#black-white:checked) {
  --bg-contact: url(/images/portfolio_background_Profile_BW.jpg);
}
/* :root:has(#light-blue:checked) {

  --bg-header: url(/images/portfolio_background_header_lightB.jpg);

}
:root:has(#gray:checked) {

  --bg-header: url(/images/portfolio_background_header_warm.jpg);

} */


.contact {
     /* background:radial-gradient(circle at 18% 53%, rgba(0, 113, 110, 1) 0%, rgba(0, 0, 1, 1) 29%, rgba(0, 0, 1, 1) 100%); */
     background-image:var(--bg-contact);
 background-position: top;
  height: 100vh;
}
.contact-element {
  height: 6vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgb(255, 255, 255, 0.07);
  border-image: linear-gradient(
      180deg,
      rgba(160, 159, 159, 0.25) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(0, 192, 187, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;
}

.contact-data{
   height: 6vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgb(0, 192, 187, 0.1);
  border-image: linear-gradient(
      180deg,
      rgba(0, 192, 187, 0.25) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(255, 255, 255, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;   
}
.contact-data:hover{
   height: 6vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.09);
  border-image: linear-gradient(
      180deg,
      rgba(0, 192, 187, 0.25) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(255, 255, 255, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;   
    
}
.contact-title{
    position: relative;
      border-radius: 6px;
      height: 6vh;
    background-color:#00c0bb;
}
.contact-title-first {
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 5;
}
.contact-title-second {
  position: absolute;
  top: 26%;
  left: 30.5%;
  z-index: 4;
}
.contact-link{
   color: rgb(250, 236, 215);
   width: 100%;

}
.contact-link:hover{
     width: 100%;
   color: rgb(0, 192, 187);
}


.contact-arrow{
  background-image: url(/images/arrow.png);
  height:6vh;
 
  background-size: 3vw;
  background-position: center;
  background-repeat: no-repeat;
}
/* // ... { MEDIA Query} */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }     


/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .contact-arrow{
  background-image: url(/images/arrow.png);
  height:6vh;
 
  background-size: 3vw;
  background-position: center;
  background-repeat: no-repeat;
}
  .contact-element {
  height: 7vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgb(255, 255, 255, 0.07);
  border-image: linear-gradient(
      180deg,
      rgba(160, 159, 159, 0.25) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(0, 192, 187, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;
}
 }



/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .contact-element {
  height: 6vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgb(255, 255, 255, 0.07);
  border-image: linear-gradient(
      180deg,
      rgba(160, 159, 159, 0.25) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(0, 192, 187, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;
}
.contact-title-first {
  position: absolute;
  top: 26%;
  left: 40%;
  z-index: 5;
}
.contact-title-second {
  position: absolute;
  top: 27%;
  left: 40.5%;
  z-index: 4;
}
.contact-arrow{
  background-image: url(/images/arrow_down_small.png);
  height:5vh;
 
  background-size: 4.5vw;
  background-position: center;
  background-repeat: no-repeat;
}
  
 }


/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // `xs` returns only a ruleset and no media query */
@media (max-width: 469.98px) {


  
}