:root {
  --cursorX: 50%;
  --cursorY: 50%;
--bg-body:  #000001;
--text-color:  rgb(250, 236, 215);
--second-color:rgb(200, 149, 79);
}
:root:has(#gray:checked) {
--text-color:  #46474C;
--bg-body:  #EBE5DD;
}
:root:has(#blue:checked) {

}
:root:has(#gray:checked) {
--second-color:#9FA0A2;
}
:root:has(#light-blue:checked) {

--bg-body:#1CCECA;

}

.wrapper-details{
    background-color: var(--bg-body);
    height: auto;
}