:root {
  --cursorX: 50%;
  --cursorY: 50%;
}
.header {
  background-image: url(/images/portfolio_background_warm_header_Hq.jpg);
  -webkit-height: 100dvh;
  height: 100vh;
 
  background-position: 0vw 0vh;
  background-size: cover;
}

.title-Holder {
  height: 100vh;
}
.title-Hallo {
  width: 60%;
}
.title-Portfolio {
  position: relative;
  width: 50%;
  height: 13.5vh;
}
.title-Portfolio-first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.title-Portfolio-second {
  position: absolute;
  top: -0.4vh;
  left: 0.2vw;
  z-index: 4;
}
.title-Portfolio-third {
  position: absolute;
  top: 0.3vh;
  left: 0.4vw;
  z-index: 1;
}
.title-Name {
  width: 50%;
  position: relative;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 1.5vh;
  margin-bottom: 0;
  list-style: none;
  gap: 1vw;
}
.nav-item {
  display: flex;
  justify-content: center;
  width: 7vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background: rgb(255, 255, 255, 0.07);
  border-image: linear-gradient(
      180deg,
      rgba(247, 105, 0, 0.2498249299719888) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 5%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(255, 255, 255, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;
}
.nav-item :hover {
  width: 7vw;
  background-color: rgb(247, 105, 0, 05);
  border-radius: 3px;
  color: #ffffff;

  display: flex;
  justify-content: center;
}
.nav-link {
  display: block;
  padding: 0.3rem 2rem;
  color: #ffffff;
    color: rgb(250, 236, 215);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
