.profile {
  height: 100vh;
   background:radial-gradient(circle at 34% 49%, rgba(0, 80, 78, 1) 0%, rgba(0, 0, 1, 1) 40%, rgba(0, 0, 1, 1) 100%);

  
   background:radial-gradient(ellipse at 31% 50%, rgba(0, 64, 62, 1) 0%, rgba(0, 0, 1, 1) 37%, rgba(0, 0, 1, 1) 100%);
  /* background:radial-gradient(ellipse at 31% 50%, rgba(81, 34, 0, 1) 0%, rgba(0, 0, 1, 1) 37%, rgba(0, 0, 1, 1) 100%); */

  background-image: url(/images/portfolio_background_Profile.jpg);
  -webkit-height: 100dvh;
  height: 100vh;
 
  background-position: 0vw 0vh;
  background-size: cover;

}
/* .profile::before {
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  background: radial-gradient(
    circle 42vw at var(--cursorX) var(--cursorY),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.4) 95%
  );
  z-index: 20;
} */
.profile-images {
  height: 100vh;
}
.profile-images-holder {
  width: 45vw;
  gap: 1.2vw;
}
.profile-images-first {
  background-image: url(/images/_DSC5327.jpg);
  background-position: -3vw -7vh;
  background-size: 46vw;
  height: 90%;
  border-top-left-radius: 30px;
}
.profile-images-second {
  height: 92.4%;
}
.profile-images-second-top {
  width: 90%;
  height: 45%;
  background-image: url(/images/_DSC5327_blue.jpg);
  background-position: -5vw -3vh;
  background-size: 35vw;
}
.profile-images-second-bottom {
  height: 52.4%;
  width: 75%;
  background-image: url(/images/_DSC5327_negativ.jpg);
  background-position: -80vw -40vh;
  background-size: 49vw;
}
/* // ... { MEDIA Query} */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }     


/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 1179.98px) { 







  
 }
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 




}

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) { 

}


/* Ipad Mini landscape*/
@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation : landscape) { 
  .profile-images {
  height: 90vh;

}
.profile-images-first {
  background-image: url(/images/_DSC5327.jpg);
  background-position: -10vw -5vh;
  background-size: 60vw;
  height: 90%;
  border-top-left-radius: 30px;
}
.profile-images-second {
  height: 92.4%;
}
.profile-images-second-top {
  width: 90%;
  height: 33%;
  background-image: url(/images/_DSC5327_blue.jpg);
  background-position: -6vw -3vh;
  background-size: 37vw;
}
.profile-images-second-bottom {
  height: 64%;
  width: 75%;
  background-image: url(/images/_DSC5327_negativ.jpg);
  background-position: -95vw -20vh;
  background-size: 59vw;
}
}

/* Ipad Air  landscape*/
@media only screen and (device-width: 1180px) and (device-height: 820px) and (orientation : landscape) { 


  .profile-images {
  height: 90vh;

}
.profile-images-first {
  background-image: url(/images/_DSC5327.jpg);
  background-position: -7vw -5vh;
  background-size: 56vw;
  height: 90%;
  border-top-left-radius: 30px;
}
.profile-images-second {
  height: 92.4%;
}
.profile-images-second-top {
  width: 90%;
  height: 33%;
  background-image: url(/images/_DSC5327_blue.jpg);
  background-position: -5vw -3vh;
  background-size: 35vw;
}
.profile-images-second-bottom {
  height: 64%;
  width: 75%;
  background-image: url(/images/_DSC5327_negativ.jpg);
  background-position: -90vw -20vh;
  background-size: 56vw;
}
}
/* Ipad Air  portrait*/

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) { 






}

 



/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .profile-images {
  height: 60vh;
}
  .profile-images-holder {
  width: 100vw;
  gap: 1.2vw;
  
}
.profile-images-first {
  background-image: url(/images/_DSC5327.jpg);
  background-position: -14vw -4vh;
  background-size: 123vw;
  /* height: 50%; */
  border-top-left-radius: 30px;
}
.profile-images-second-top {
  width: 100%;
  height: 30%;
  background-image: url(/images/_DSC5327_blue.jpg);
  background-position: -5vw -2vh;
  background-size: 70vw;
}
.profile-images-second-bottom {
  height: 66%;
  width: 85%;
  background-image: url(/images/_DSC5327_negativ.jpg);
  background-position: -92vw -20vh;
  background-size: 152vw;
}
 }


/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // `xs` returns only a ruleset and no media query */
@media (max-width: 469.98px) {


  
}