html {
  scrollbar-width: none;
}

/* @font-face {font-family: "Crystal Sky"; src: url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot"); src: url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff") format("woff"), url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.svg#") format("svg"); }  */

@font-face {
    font-family: 'Crystal Dust';
    src: url('Crystal Dust.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Light';
    src: url('Comfortaa Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Regular';
    src: url('Comfortaa Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa Medium';
    src: url('Comfortaa Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa SemiBold';
    src: url('Comfortaa SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'ComforterBrush Regular';
    src: url('ComforterBrush Regular.ttf') format('truetype');
}





.font-ComforterBrush-regular {
    font-family: 'ComforterBrush Regular';

}

.font-Crystal-regular {
    font-family: 'Crystal Dust';

}

.font-Comfortaa-light{
    font-family: 'Comfortaa Light';
  

    font-weight: 300;
  
}

.font-Comfortaa-regular{
    font-family: 'Comfortaa Regular';
 

    font-weight: 400;

}



.font-Comfortaa-medium{
    font-family: 'Comfortaa Medium';



  letter-spacing: 0.1vw;
}
.font-Comfortaa-semiBold2 {
    font-family: 'Comfortaa SemiBold';

   

  letter-spacing: 0.1vw;
}


/* font-size */

.font-12{
  font-size: 0.6vw;

}
.font-16{
  font-size: 0.8vw;

}
.font-21-33{
  font-size: 1vw;

}
.font-28-43{
    font-size: 1.3vw;

}
.font-37-90{
     font-size: 1.9vw;

}
.font-50-52{
       font-size: 1.9vw;

}
.font-67-34{
       font-size:67.34px;

}

.font-89-76{
       font-size:4.3vw;

}

.font-119-66{
       font-size:5.8vw;

}


/* letter-spacing */
.letter-spacing-01 {
    letter-spacing: 0.1vw;
}
.letter-spacing-02 {
    letter-spacing: 0.2vw;
}
.letter-spacing-03 {
    letter-spacing: 0.3vw;
}
.letter-spacing-04 {
    letter-spacing: 0.4vw;
}

/* colors */
.white-transparent-color{

  color: #9E9FA0;
}
.seconder-color{
  color: #C8954F;
}
.blue-color{
  color: #00C0BB;
}
.orange-color{
  color: #F76900;
}

body {


  font-family: 'Raleway', sans-serif;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Crystal Sky';

  overscroll-behavior: none;
  overflow-x: hidden;
  height: 100vh;
  background-color: #000001;
}

