:root {
  --cursorX: 50%;
  --cursorY: 50%;
--bg-body:  #000001;
--text-color:  rgb(250, 236, 215);
--second-color:rgb(200, 149, 79);
}
:root:has(#gray:checked) {
--text-color:  #46474C;
--bg-body:  #EBE5DD;
}
:root:has(#blue:checked) {
--bg-body:  #16001E;

}
:root:has(#gray:checked) {
--second-color:#9FA0A2;
}
:root:has(#light-blue:checked) {

--bg-body:#1CCECA;

}






.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.color-picker > fieldset {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.1);
  border-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3498249299719888) 0%,
      rgba(255, 255, 255, 0.020133053221288555) 0.2%,
      rgba(255, 255, 255, 0.6391806722689075) 10%,
      rgba(255, 255, 255, 0.20220588235294112) 20%,
      rgba(255, 255, 255, 0.0845588235294118) 76%,
      rgba(255, 255, 255, 0.2) 85%,
      rgba(255, 255, 255, 0.022934173669467817) 92%,
      rgba(255, 255, 255, 0.0945588235294118) 100%
    )
    1;
  padding: 1rem 1.5rem;


  
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 5%;
  cursor: pointer;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#black-white {
  --radio-color: rgb(255, 254, 254);
}
.color-picker input[type="radio"]#gray {
  --radio-color: rgb(187, 171, 156);
}
.color-picker input[type="radio"]#blue {
  --radio-color: #210030;
}
.color-picker input[type="radio"]#light-blue {
  --radio-color: rgb(2, 252, 252);
}
.color-picker input[type="radio"]#dark {
  --radio-color: #4A1D00;
}








@font-face {
  font-family: 'Crystal Sky';
  src: url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot');
  src: url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.svg#')
      format('svg');
}

@font-face {
  font-family: 'CrystalDust';
  src: url('/Fonts/CrystalDust.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa Light';
  src: url('/Fonts/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa Regular';
  src: url('/Fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa Medium';
  src: url('/Fonts/Comfortaa-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa SemiBold';
  src: url('/Fonts/Comfortaa-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'ComforterBrushRegular';
  src: url('/Fonts/ComforterBrush-Regular.ttf') format('truetype');
}

.font-ComforterBrush-regular {
  font-family: 'ComforterBrushRegular';
}

.font-Crystal-regular {
  font-family: 'CrystalDust';
}

.font-Comfortaa-light {
  font-family: 'Comfortaa Light';

  font-weight: 300;
}

.font-Comfortaa-regular {
  font-family: 'Comfortaa Regular';

  font-weight: 400;
}

.font-Comfortaa-medium {
  font-family: 'Comfortaa Medium';

  letter-spacing: 0.1vw;
}
.font-Comfortaa-semiBold2 {
  font-family: 'Comfortaa SemiBold';

  letter-spacing: 0.1vw;
}

/* font-size */

.font-12 {
  font-size: 0.6vw;
}
.font-16 {
  font-size: 0.8vw;
}
.font-21-33 {
  font-size: 1vw;
}
.font-28-43 {
  font-size: 1.3vw;
}
.font-37-90 {
  font-size: 1.9vw;
}

.font-50-52 {
  font-size: 2.5vw;
}
.font-67-34 {
  font-size: 67.34px;
}

.font-89-76 {
  font-size: 4.3vw;
}

.font-119-66 {
  font-size: 5.8vw;
}

/* letter-spacing */
.letter-spacing-01 {
  letter-spacing: 0.1vw;
}
.letter-spacing-02 {
  letter-spacing: 0.2vw;
}
.letter-spacing-03 {
  letter-spacing: 0.3vw;
}
.letter-spacing-04 {
  letter-spacing: 0.4vw;
}

/* colors */
.white-transparent-color {
  color: #9e9fa0;
}
.seconder-color {
  color: var(--second-color);
}
.blue-color {
  color: rgb(0, 192, 187);
}
.orange-color {
  color: rgb(247, 105, 0);
}
.text-color {
  color:var(--text-color);
}
body {
  font-family: 'Raleway', sans-serif;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Crystal Sky';

  overscroll-behavior: none;
  overflow-x: hidden;
  height: 100vh;
cursor:url(/images/arrow.png),auto;
}
a {
  text-decoration: none;
}
.wrapper {
  position: relative;
    background-color:var(--bg-body);
} 
.wrapper-details {
  position: relative;
    background-color:var(--bg-body);
} 
 .panel {
  position: fixed;

  top: 0;

  width: 100%;
}
/* // ... { MEDIA Query} */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .font-12 {
    font-size: 0.9vw;
  }
  .font-16 {
    font-size: 1.1vw;
  }
  .font-21-33 {
    font-size: 1.3vw;
  }
  .font-28-43 {
    font-size: 1.7vw;
  }
  .font-37-90 {
    font-size: 2.4vw;
  }

  .font-50-52 {
    font-size: 3.5vw;
  }
  .font-67-34 {
    font-size: 67.34px;
  }

  .font-89-76 {
    font-size: 4.3vw;
  }

  .font-119-66 {
    font-size: 5.8vw;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .font-12 {
    font-size: 2.3vw;
  }
  .font-16 {
    font-size: 2.6vw;
  }
  .font-21-33 {
    font-size: 3.5vw;
  }
  .font-28-43 {
    font-size: 3.8vw;
  }
  .font-37-90 {
    font-size: 5.1vw;
  }
  .font-50-52 {
    font-size: 7.2vw;
  }
  .font-67-34 {
    font-size: 70.34px;
  }

  .font-89-76 {
    font-size: 8.3vw;
  }

  .font-119-66 {
    font-size: 15.8vw;
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* .font-12{
  font-size: 2vw;

}
.font-16{
  font-size: 0.8vw;

}
.font-21-33{
  font-size: 3vw;

}
.font-28-43{
    font-size: 1.3vw;

}
.font-37-90{
     font-size: 1.9vw;

}
.font-50-52{
       font-size: 6.9vw;

}
.font-67-34{
       font-size:67.34px;

}

.font-89-76{
       font-size:4.3vw;

}

.font-119-66{
       font-size:13.8vw;

}  */
}

/* // `xs` returns only a ruleset and no media query */
@media (max-width: 469.98px) {
}
